[type="password"] {
    color: blue;
}

/* The Box Model */

.container{
    height: 500px;
    width: 500px;
    background-color: #000;
    margin-top: 10px;
    position: relative;
}

.content-one, .content-two{
    position: absolute;
    /* border: 3px solid #fff; */
    background-color: red;
    height: 200px;
    width: 200px;
    margin: 20px 30px 50px;
}

.heading {
    /* border: 2px solid green; */
    border-style: dotted;
    border-color: pink;
    border-width: 10px;
    padding: 20px;
}

.round {
    height: 200px;
    width: 200px;
    background-color: brown;
    border-radius: 50%;
}

img { 
    border-radius: 50%;
    margin: 25px;
}

.block-heading {
    border: 1px solid red;
    display: inline;
}

.inline {
    border: 1px solid black;
    display: block;
}

.header {
    background-color: black;
    height: 70px;
    width: 100%;
}

.footer {
    background-color: black;
    height: 70px;
    width: 100%;
}

.main {
    position: relative;
    background-color: blue;
    padding: 20px 0 20px 0;
    margin: 20px 0 20px 0;
    width: 100%;
    height: 480px;
}

.one {
    height: 480px;
    width: 360px;
    background-color: black;
    position: absolute;
}

.two {
    height: 480px;
    width: 360px;
    background-color: black;
    position: absolute;
    left: 365px;
}